:root {
  font-size: 10px;

  --radio-color: rgb(100, 120, 200);
  --text-color: rgb(230, 230, 230);
}

body {
  min-height: 100vh;

  background-image: linear-gradient(45deg, rgb(30, 130, 110), rgb(100, 170, 230));

  font-size: 1.6rem;
}

.wrapper {
  width: clamp(32rem, 80%, 80rem);
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  padding: 1rem;

  background-color: rgb(60, 60, 60);

  flex-grow: 1;
  display: grid;
  grid-template-rows: clamp(30rem, 30vw, 45rem) auto 1fr;
  gap: 1.5rem;
}

.slider__frame {
  overflow-x: hidden;
}

.slider__images {
  height: 100%;

  color: var(--text-color);

  justify-self: center;

  display: flex;
  gap: 1rem;

  transition: 0.5s;
}

.slider__image-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.slider__image {
  max-height: 100%;
  max-width: 100%;
}

#radio1:checked ~ .slider__frame .slider__images {
  transform: translate(0, 0);
} 

#radio2:checked ~ .slider__frame .slider__images {
  transform: translate(calc(-100% - 1rem), 0);
} 

#radio3:checked ~ .slider__frame .slider__images {
  transform: translate(calc(-200% - 2rem), 0);
} 

#radio4:checked ~ .slider__frame .slider__images {
  transform: translate(calc(-300% - 3rem), 0);
}

#radio1:checked ~ .slider__frame .slider__texts {
  transform: translate(0, 0);
}

#radio2:checked ~ .slider__frame .slider__texts {
  transform: translate(-100%, 0);
}

#radio3:checked ~ .slider__frame .slider__texts {
  transform: translate(-200%, 0);
}

#radio4:checked ~ .slider__frame .slider__texts {
  transform: translate(-300%, 0);
}

.slider__radio {
  display: none;
}

.slider__controls {
  display: flex;

  justify-self: center;
}

.slider__bullet {
  display: block;

  width: 0.8rem;
  height: 0.8rem;
  border: 0.1rem solid var(--radio-color);
  border-radius: 50%;

  background-color: var(--radio-color);
  transition: 0.2s;
}

.slider__radio-area {
  width: 1.8rem;
  height: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#radio1:checked ~ .slider__controls [for="radio1"] .slider__bullet,
#radio2:checked ~ .slider__controls [for="radio2"] .slider__bullet,
#radio3:checked ~ .slider__controls [for="radio3"] .slider__bullet,
#radio4:checked ~ .slider__controls [for="radio4"] .slider__bullet {
  background-color: transparent;
}

.slider__texts {
  display: flex;

  transition: 0.5s;
}

.slider__text {
  height: 100%;
  width: 100%;

  color: var(--text-color);

  flex-shrink: 0;
}

@media (hover: hover) {
  .slider__radio-area:hover > .slider__bullet {
    background-color: var(--text-color);
    border: 0.1rem solid var(--text-color);
    transform: scale(1.5);
  }
}
